<html>
  <head>
    <style type='text/css'>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2ecc71;
      }
    </style>
    
    <script src="https://cdn.scaleflex.it/filerobot/js-cloudimage-responsive/v1.0.10.min.js"></script>
    <script>
      const ciResponsive = new window.CIResponsive({
        token: 'demo',
        baseUrl: 'https://cloudimage.public.airstore.io/demo/' // optional
      });
    </script>
  </head>

  <body>
    <img id="logo" ci-src="https://github.com/milld/milld.github.io/blob/master/_layouts/logo.png" />
    <img id="cover" ci-src="https://github.com/milld/milld.github.io/blob/master/_layouts/milldcover.png" />
    <img src="https://i.ibb.co/1TT4FMc/logo.png">
    <img src="https://i.ibb.co/ZXtdtsm/milldcover.png">
  </body>
</html>
